body {
  background: url("img/Untitled32_0001-16-50.png") no-repeat center fixed;
  background-size: cover;
  font-size: large;
  margin-top: 15%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  text-align: center;
}

.button {
  background-color: rgb(139, 171, 234);
  border-radius: 15px / 50px;
  padding: 5%;
  width: 30%;
  height: 40%;
  box-shadow: 10px 10px;
  font-size: 200%;
}

.button:hover {
  background-image: radial-gradient(
    circle,
    rgb(179, 197, 235),
    rgb(139, 171, 234),
    rgb(113, 153, 234)
  );
}

p {
  font-size: 250%;
}